// colors
// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
// - Red (input errors): hsl(0, 100%, 66%)
// - White: hsl(0, 0%, 100%)
// - Light grayish violet: hsl(270, 3%, 87%)
// - Dark grayish violet: hsl(279, 6%, 55%)
// - Very dark violet: hsl(278, 68%, 11%) 

$colors: (
    card-text-color: hsl(0, 0%, 100%),
    placeholder-text-color: hsl(279, 6%, 55%),
    input-border-color: hsl(270, 3%, 87%),
    btn-bg-color: hsl(278, 68%, 11%),
    btn-text-color: hsl(0, 0%, 100%),
    error-text-color: hsl(0, 100%, 66%),
    error-border-color: hsl(0, 100%, 66%),
    active-border-color: hsl(249, 99%, 64%) to hsl(278, 94%, 30%),
    thanks-h2text-color: hsl(278, 68%, 11%),
    thanks-ptext-color: hsl(279, 6%, 55%),
)